<section class="flex min-h-dvh items-center">
  <div class="container mx-auto flex">
    <article class="flex max-w-4xl flex-col gap-6">
      <!-- text-5xl lg:text-7xl font-black text-balance leading-[0.9] -->
      <h1 class="text-5xl leading-[0.75] text-balance lg:text-7xl">
        <span>VARELA</span><br />
        <span>ALUMINIO</span><br />
        <!-- text-white text-3xl lg:text-4xl font-normal -->
        <span class="text-3xl font-normal lg:text-4xl">Aberturas de alta perfomance</span>
      </h1>
      <p class="max-w-2xl text-xl leading-relaxed text-pretty">
        Transformamos espacios con aberturas de aluminio y PVC de máxima calidad.
        <b>Diseño personalizado</b>, instalación profesional y garantía extendida para tu
        tranquilidad.
      </p>
    </article>
  </div>
</section>
