---
import styles from '@styles/global.css?url';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>

    <link rel="preload" href={styles} as="style" />
    <link rel="stylesheet" href={styles} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
